.blog-single.page-wrapper {
  padding-bottom: 0;
  background-color: #fff;
}

.blog-single .entry-title {
  color: #000;
  font-weight: 500;
  line-height: 1.16;
  text-align: left;
  font-family: "Avenir Next";
  margin-bottom: 0;
}

.blog-single .col {
  padding-bottom: 0;
}

.blog-single .entry-header-text {
  padding: 0;
}

.entry-content.single-page,
.entry-content.single-page p {
  font-family: "Avenir Next";
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.entry-content.single-page strong {
  color: #292929;
  font-family: "Avenir";
  font-weight: 800;
  line-height: 1.67;
}

.entry-content.single-page {
  padding-top: 0;
}

.blog-single .post {
  margin-bottom: 0;
}

.page-header-excerpt,
.blog-single .navigation-post {
  display: none;
}

/* ! related section */
.related-articles {
  display: flex;
  background-color: #EAEAEA;
}

.related-articles__header {
  display: flex;
  max-width: max-content;
  margin-inline: auto;
  align-items: center;
}

.related-articles__title {
  color: #000;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  line-height: 1.16;
  margin-bottom: 0;
  text-align: center;
}

.related-articles__link {
  margin-top: 0;
}

/* .related-articles__container {} */
.related-articles__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  gap: 20px 12px;
}

/* .related-articles__item {} */
/* .item-related {} */

.item-related__wrapper {
  display: grid;
  gap: 18px;
}

.item-related__image {
  padding-bottom: 66%;
  position: relative;
  overflow: hidden;
}

.item-related__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;

  transform: scale(1.001);
  transition: transform 0.5s linear;
}

.item-related__title {
  color: #292929;
  font-family: "Avenir";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow-y: hidden;
  text-overflow: ellipsis;
}


/*! Media */
@media (any-hover:hover) {
  .item-related__image:hover img {
    transform: scale(1.3);
  }
}

@media (min-width:1000px) {

  .blog-single.page-wrapper {
    padding-top: 50px;
  }

  .blog-single .type-post {
    margin-inline: auto;
    max-width: 802px;
  }

  .blog-single .entry-title {
    font-size: 32px;
  }

  .blog-single .rank-math-breadcrumb:not(:last-child) {
    margin-bottom: 66px;
  }

  .blog-single .entry-header-text:not(:last-child) {
    margin-bottom: 56px;
  }

  .blog-single .entry-header:not(:last-child) {
    margin-bottom: 48px;
  }

  .entry-content.single-page p+p {
    margin-top: 24px;
  }

  .entry-content.single-page p:has(>strong) {
    margin-top: 48px;
  }

  .entry-content.single-page strong:not(:last-child) {
    margin-bottom: 24px;
  }

  .entry-content.single-page,
  .entry-content.single-page p {
    font-size: 16px;
  }

  .entry-content.single-page strong {
    font-size: 18px;
  }

  .entry-content.single-page {
    padding-bottom: 120px;
  }

  /* ! media related section */

  .related-articles {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .related-articles__header {
    gap: 37px;
  }

  .related-articles__title {
    font-size: 48px;
  }

  .related-articles__header:not(:last-child) {
    margin-bottom: 56px;
  }


}

@media (max-width: 1000px) {
  .blog-single.page-wrapper {
    padding-top: 24px;
  }

  .blog-single .rank-math-breadcrumb:not(:last-child) {
    margin-bottom: 30px;
  }

  .blog-single .entry-header-text:not(:last-child) {
    margin-bottom: 24px;
  }

  .blog-single .entry-header:not(:last-child) {
    margin-bottom: 20px;
  }

  .entry-content.single-page {
    padding-bottom: 40px;
  }

  .entry-content.single-page p+p {
    margin-top: 16px;
  }

  .entry-content.single-page p:has(>strong) {
    margin-top: 24px;
  }

  .entry-content.single-page strong:not(:last-child) {
    margin-bottom: 16px;
  }

  .entry-content.single-page,
  .entry-content.single-page p {
    font-size: 14px;
  }

  .entry-content.single-page strong {
    font-size: 16px;
  }

  /* ! media related section */
  .related-articles {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .related-articles__title {
    font-size: 28px;
  }

  .related-articles__header {
    gap: 20px;
    flex-direction: column;
  }

  .related-articles__header:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media (max-width: 500px) {
  .rank-math-breadcrumb p {
    line-height: 1.1;
  }

  .blog-single .entry-title {
    font-size: 26px;
  }
}

/* .article-inner .entry-image.relative {
  width: 100%;
  float: initial;
  padding-right: initial;
  padding-bottom: 50px;
} */
/* @media only screen and (min-width: 849px) {
  .article-inner .entry-image.relative {
    width: 33%;
    float: left;
    padding-right: 25px;
    padding-bottom: 25px;
  }
} */