.blog .header-main,
.blog__header,
.blog .blog-wrapper {
  background-color: #F2F2F2;
}

.blog .container,
.blog .row {
  max-width: 1412px;
  width: 100%;
}

.blog__header>:not(:last-child) {
  margin-bottom: 4px;
}

.blog h1 {
  color: var(--color-black);
  font-family: "Avenir Next";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 0;
}


.blog .large-10 {
  max-width: 100%;
  flex-basis: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.featured-post__image {
  position: relative;
  /* padding-bottom: 27.5%; */
  max-height: 500px;
  overflow: hidden;
}

.featured-post__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform 0.6s ease;
  transform: scale(1.001);
}

.featured-post__content {
  display: flex;
  flex-direction: column;
}

.featured-post__category {
  color: var(--color-black);
  text-transform: uppercase;
}

.featured-post__title {
  color: #292929;
  font-family: "Avenir";
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0;
  transition: color 0.4s ease;

}

.featured-post__excerpt {
  color: rgba(0, 0, 0, 0.80);
}

.featured-post__category,
.featured-post__excerpt {
  font-family: "Avenir Next";
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
}

.featured-post__button {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 6px 20px;
  border-radius: 33px;
  background: var(--color-green-2);
  color: var(--color-white);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  max-width: max-content;
  margin: 0;
  pointer-events: none;
  min-height: 42px;
}

@media (any-hover:hover) {
  .featured-post:hover .featured-post__image img {
    transform: scale(1.15);
  }

  .featured-post:hover .featured-post__title {
    color: var(--color-green-2);
  }
}

@media (min-width: 1000px) {

  .blog__header {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .blog .blog-wrapper {
    padding-top: 24px;
    padding-bottom: 120px;
  }

  .featured-post:not(:last-child) {
    margin-bottom: 120px;
  }

  .featured-post {
    display: flex;
    min-height: 380px;
  }

  .featured-post__content {
    flex: 1 1 45%;
    padding-left: 3.4%;
    gap: 24px;
  }

  .featured-post__image {
    flex: 1 1 55%;
  }

  .featured-post__title {
    font-size: 24px;
    max-width: 400px;
  }

  .featured-post__excerpt,
  .featured-post__category {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .blog__header {
    padding-top: 30px;
    padding-bottom: 12px;
  }

  .blog .blog-wrapper {
    padding-top: 12px;
    padding-bottom: 30px;
  }

  .featured-post:not(:last-child) {
    display: block;
    margin-bottom: 40px;
  }

  .featured-post>:not(:last-child) {
    margin-bottom: 20px;
  }

  .featured-post__content {
    gap: 16px;
  }

  .featured-post__image {
    padding-bottom: 50%;
  }

  .featured-post__title {
    font-size: 18px;
  }

  .featured-post__excerpt,
  .featured-post__category {
    font-size: 14px;
  }
}