.button,
button {
	transition: .3s all;
}

.button.primary {
	display: inline-flex;
	align-items: center;
}

.button.is-xlarge {
	padding-left: 44px;
	padding-right: 44px;
}

.button span {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}

.button.is-outline span {
	color: black;
}

.button.is-outline:hover span {
	color: white;
}

.button.primary.is-outline:hover .icon-angle-right:before {
	background: url(./../../images/homepage/arrow-narrow-right-white.svg);
}

.button.secondary.is-link:hover::after {
	transform: translateX(10px);
}

a.white.button.is-outline {
	border-color: white;
}

a.white.button.is-outline:hover span {
	color: black
}

a.white.button span {
	color: white
}

a.button.is-outline {
	border: 1px solid var(--color-green-2);
}

a.button.is-outline>i[class^="icon-"] {
	color: var(--color-black)000;
}

/* .button span{
	min-height: 46px;
	line-height: 46px;
} */

a.white.button i {
	border: 2px solid white;
	border-radius: 50%;
	padding: 5px;
	width: 24px;
	height: 24px;
	font-size: 9px;
}

a.white.button:hover i {
	border-color: black;
}

a.white.button:hover i:before {
	color: black
}

a.white.button i:before {
	color: white;
}


.button.secondary:after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	transition: .3s all;
	background: url(./../../images/homepage/arrow-narrow-right.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 10px;
}

.button.secondary {
	margin: 0;
	display: flex;
	align-items: center;
}

.button.secondary span {
	color: var(--color-black);
	font-size: 16px;
}

footer .button.white.is-outline {
	display: inline-flex;
	align-items: center;
}

footer .button.white.is-outline i {
	margin-left: 15px;
}

a.checkout-button.button,
.woocommerce-cart .coupon button,
.checkout-sidebar .button,
.single_add_to_cart_button.button.alt,
.wpforms-container-full button[type=submit].wpforms-submit,
.button.button--green {
	width: 100%;
	height: initial;
	min-height: 48px;
	color: var(--color-white);
	font-family: "Avenir Next";
	font-size: 16px;
	font-weight: 600;
	line-height: 1.1;
	text-transform: uppercase;
	border-radius: 33px;
	background-color: var(--color-green-1) !important;
	box-shadow: 0 25px 29px 0 rgba(137, 175, 8, 0.18), 0px 5px 4.713px 0px rgba(137, 175, 8, 0.09);
	padding: 13px 20px;
	margin: 0;
	transition: background-color 0.3s ease;
}

@media (any-hover:hover) {

	/* .checkout-sidebar .button.alt:hover, */
	.checkout-sidebar .button#place_order:hover,
	a.checkout-button.button:hover,
	.woocommerce-cart .coupon .button.is-form:hover,
	.checkout-sidebar .button.alt:hover,
	.single_add_to_cart_button.button.alt:hover,
	div.wpforms-container-full button[type=submit].wpforms-submit:hover,
	.button.button--green:hover {
		color: var(--color-white);
		background-color: #60ba16 !important;
	}

}

@media (max-width: 549px) {
	.button.is-xlarge {
		font-size: 1.2em;
	}
}