.button, button {
    transition: .3s all;
}

.button.primary {
    display: inline-flex;
    align-items: center;
}

.button.is-xlarge {
    padding-left: 44px;
    padding-right: 44px;
}

.button span {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}

.button.is-outline span {
    color: black;
}

.button.is-outline:hover span {
    color: white;
}

.button.primary.is-outline:hover .icon-angle-right:before {
    background: url(./../../images/homepage/arrow-narrow-right-white.svg);
}

.button.secondary.is-link:hover::after {
    transform: translateX(10px);
}

a.white.button.is-outline {
	border-color: white;
}

a.white.button.is-outline:hover span {
	color: black
}

a.white.button span{
	color: white
}

/* .button span{
	min-height: 46px;
	line-height: 46px;
} */

a.white.button i {
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    width: 24px;
    height: 24px;
    font-size: 9px;
}

a.white.button:hover i {
	border-color: black;
}

a.white.button:hover i:before {
	color: black
}

a.white.button i:before {
	color: white;
}


.button.secondary:after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
    transition: .3s all;
	background: url(./../../images/homepage/arrow-narrow-right.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
    margin-left: 10px;
}

.button.secondary {
	margin: 0;
	display: flex;
    align-items: center;
}

.button.secondary span {
	color: #000;
	font-size: 16px;
}

@media (max-width: 549px) {
    .button.is-xlarge {
        font-size: 1.2em;
    }
}