.navigation-swiper__button.big-white,
.slider-nav-reveal .flickity-prev-next-button,
.slider-nav-reveal .flickity-prev-next-button:hover {
	flex: 0 0 72px;
	width: 72px;
	height: 72px;
	border-radius: 50px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	background: #FFF;
	box-shadow: 1px 1px 3.14815px 0px rgba(0, 0, 0, 0.01), -5px 0px 10px 0px rgba(0, 0, 0, 0.02), -10px 1px 13px 0px rgba(0, 0, 0, 0.03), 0px 27.34815px 25.48148px 0px rgba(0, 0, 0, 0.03), 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 1px 1px 12px 0px rgba(0, 0, 0, 0.05);
	opacity: 1 !important;
	transform: translateX(0%);
	top: calc(50% - 45px);
}

.slider-nav-reveal .flickity-prev-next-button svg {
	display: none;
}

.flickity-prev-next-button:before {
	content: '';
	width: 36px;
	height: 36px;
	background: url(./../../images/homepage/slider-arrow-down.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	margin: 17px;
}

.flickity-prev-next-button.next:before {
	transform: rotate(180deg);
}

.slider-nav-reveal {
	/* width: calc(100% + 140px) !important;
	margin: 0 -30px !important;
	padding: 0 22px !important; */
}

.catalog-section .slider-nav-reveal {
	width: calc(100% + 60px) !important;
	margin: 0 -30px !important;
	padding: 30px 10px !important;
	max-width: initial;
}

.home .catalog-section .flickity-enabled.is-draggable .flickity-viewport {
	width: calc(100% - 120px) !important;
	margin-left: 60px;
}

.slider-nav-reveal .flickity-prev-next-button.next {
	left: auto !important;
	right: 10px !important;
}

.slider-nav-reveal .flickity-prev-next-button.previous {
	left: 10px !important;
	right: auto !important;
}

@media(max-width:1000px) {

	.slider-nav-reveal .flickity-prev-next-button,
	.slider-nav-reveal .flickity-prev-next-button:hover {
		margin: 0;
	}

	.navigation-swiper__button.big-white,
	.slider-nav-reveal .flickity-prev-next-button,
	.slider-nav-reveal .flickity-prev-next-button:hover {
		flex: 0 0 38px;
		width: 38px;
		height: 38px;
		/* transform: translateX(0%) ;
		top: calc(50% - 15px); */
	}

	.flickity-prev-next-button:before {
		margin: 0;
	}

}


/* swiper navigation */
.navigation-swiper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	z-index: 2;
	pointer-events: none;
}

.navigation-swiper__button {
	flex: 0 0 36px;
	width: 36px;
	height: 36px;
	border-radius: 50%;

	display: grid;
	place-items: center;

	pointer-events: all;
	padding: 0;
	margin: 0;
	min-height: initial;
	transform: scale(1.001);
	transition: all 0.3s ease;
}

/* 
.navigation-swiper__pagination {}
.navigation-swiper__button svg {}
.navigation-swiper_button--prev {}
.navigation-swiper__button--next {} */

@media (any-hover:hover) {

	.navigation-swiper__button:hover {
		transform: scale(1.2);
		background-color: rgba(83, 156, 23, 0.7);
	}

	.navigation-swiper__button:hover:active {
		transform: scale(1);
		background-color: rgba(83, 156, 23, 0.3);
	}
}