.tabbed-content .nav-pills>li
{
	margin-bottom:30px;
	margin-right:5px;
}

.tabbed-content {
	margin-top: 56px;
}

.tabbed-content .nav {
	margin-bottom: 40px;
}

.tabbed-content .tab span {
	color: rgba(0, 0, 0, 0.68);
	text-align: center;

	font-size: 14px !important;
	font-style: normal !important;
	font-weight: 500 !important;
	line-height: 16px !important;
	margin: 0 10px !important;
	width: 100px;
}

.tabbed-content .tab.active {
	background: #fff;
	border-radius: 20px;
}

.tabbed-content .tab.active span {
	font-weight: 700 !important;
	color: #000 !important;
}


@media (max-width: 1001px) {
    .tabbed-content .nav {
		margin-bottom: 0;
	}
}

@media (max-width: 576px) {
    .sector-tab .tabbed-content .tab-panels .row.show-for-small, 
    .row-products .row.show-for-small,
    .container .related .row-small
    {
        margin-left: 0px;
        margin-right: 0px
    }
}

