.icon-angle-right:before {
    content: "";
    display: block;
    width: 24px;
    margin-top: 2px;
    height: 24px;
    background: url(./../../images/homepage/arrow-narrow-right.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}