body {
    max-width: 2560px;
    margin-inline: auto;

    background-color: #f2f2f2;
}


.header-main {
    height: initial !important;
    min-height: 90px;
    display: flex;
    align-items: center;
}

#section_2101748850 {
    background-color: #F4F4F4
}

/* .home .header,
.home .header-wrapper {
    background-color: transparent !important;
} */
.container {
    padding-left: 22px;
    padding-right: 22px;
}

.container-width,
.full-width .ubermenu-nav,
.container,
.row {
    width: 85%;
}

.container .container-width,
.container .full-width,
.container .ubermenu-nav,
.container .container,
.container .row {
    width: 100%;
}

@media (max-width: 1000px) {

    .row-small>.flickity-viewport>.flickity-slider>.col:nth-child(2n),
    .row-small>.flickity-viewport>.flickity-slider>.col:nth-child(odd) {
        padding: 0 6px !important;
    }
}

@media (max-width: 576px) {

    .container-width,
    .full-width .ubermenu-nav,
    .container,
    .row {
        width: 95%;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 450px) {

    .container-width,
    .full-width .ubermenu-nav,
    .container,
    .row {
        width: 100%;
    }
}