ul.product-tabs li a {
	text-transform: uppercase;
}

#footer div.payment-icons.inline-block {
	width: 135px;
}

.h3,
h3 {
	font-size: 40px;
}

#my-account-nav a {
	font-size: 1.2em;
}

.my-account-header .page-title-inner.flex-row.container.text-left {
	max-width: 1440px;
}

.btn.btn-logout {
	padding: 11px 34px;
	color: #fff;
	font-style: normal;
	background: var(--primary-color);
	border-radius: 5px;
}

/* .single_add_to_cart_button,
.widget_price_filter .price_slider_amount .button,
button.expand.wp-element-button {

	border-radius: 8px;
	color: #1F0C01;
	font-size: 16px;
	font-weight: 500;
} */

.woocommerce-button.wp-element-button.button {
	border-radius: 8px;
	padding: 15px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #1F0C01;
	width: 100%;
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.woocommerce-form-login .button {
	width: 194px;
	height: 52px;
	border-radius: 8px;
	padding: 15px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
}

.form-flat input:not([type=submit]) {
	flex-direction: row;
	align-items: center;
	padding: 6px 16px 5px;
	gap: 156px;

	width: 100%;
	height: 52px;
	background: #FFFFFF;

	border-left: 1px solid rgba(255, 255, 255, 0.12);
	border-right: 1px solid rgba(255, 255, 255, 0.12);
	border-top: 1px solid rgba(255, 255, 255, 0.12);
	border-bottom: 1px solid grey;
	border-radius: 8px;
}


#cart-popup {
	display: block;
}

.my-account.mb .large-9.col {
	margin: 20px auto;
}

.page-wrapper.my-account.mb {
	padding-top: 0px;
}

.account-user.circle {
	padding: 10px;
	border-radius: 0px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.quick-view.quick-view-added,
a.added_to_cart.wc-forward {
	display: none;
}

.add_to_cart_button.added {
	display: block;
}

.cart-empty.woocommerce-info {
	text-align: center;
}

mark {
	background-color: white;
	color: #000;
}


.ux-menu-link--active .ux-menu-link__link {
	color: hsla(0, 0%, 70%, .85);
}

li.html.custom.html_topbar_left,
li.html.custom.html_topbar_left div.selectron23 {
	max-height: 36px;
	background: white;
}

form.woocommerce-widget-layered-nav-dropdown {
	margin-bottom: -1.7em;
}

/* .price-wrapper .price {
	display: block;
	height: 23px;
} */



/* a.button.secondary {
	    background: #34c560;
	background: var(--primary-color);
	background-color: var(--primary-color);
	    background-image: linear-gradient(270deg, rgba(92, 215, 47, 1) -35%, rgba(52, 197, 96, 1) 118%);
} */




.text.slider-lead {
	color: rgba(18, 17, 39, 0.9);
}

.banner-slider .text-box-content.text {
	background: linear-gradient(180deg, #A7F18C 0%, #39C965 102.01%);
}

.banner-slider-pink .text-box-content.text {
	background: linear-gradient(180deg, #DEDEDE 0%, #F0E7F8 0.01%, #DAB6F5 102.01%);
}

/*
.slider-size-new, #main section.section {
   left: calc(50% - 97%/2 - 0.5px);
   width: 97%;
}
*/

.showcoupon {
	font-weight: 700;
}

/*
.banner-slider .banner-layers.container, .banner-slider-pink .banner-layers.container
{
	max-width: 100%;
}
*/

.slider-nav-circle .flickity-prev-next-button svg {
	background: #47474A;
	border-radius: 8px;
	width: 40px;
	height: 40px;
}

.slider-size-new .flickity-prev-next-button .arrow {
	color: #fff;
}

/*
.row .button, .header-button .button
{
	background: linear-gradient(239.1deg, #5CD72F -35.42%, #34C560 118.69%);
}
*/
.grid-tools a {
	background-color: #1F0C01;
}

.header-button a,
.woocommerce-address-fields .button.wp-element-button {
	color: #1F0C01;
}

.slider .button span {
	color: #1F0C01;
}

.button.button-about-us span {
	font-size: 16px;
}



/******Tabs***/
li.tab.has-icon a span {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	margin: 0 auto;
}

li.tab.has-icon.active a span {
	color: #1D1D1F;
}

.nav-pills>li.active>a {
	color: #fff;
	opacity: 1;
}

.nav-pills>li>a {
	border-radius: 50px;
	width: 120px;
	height: 37px;
}



#tab-sale a {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

li#tab-sale.active>a {
	background-color: var(--primary-color);
}

#tab-best-sellers a {
	border: 1px solid #3EC956;
	color: #3EC956;
}

li#tab-best-sellers.active>a {
	background-color: #3EC956;
}

#tab-new a {
	border: 1px solid #1F0C01;
	color: #1F0C01;
}

li#tab-new.active>a {
	background-color: #3EC956;
}

/******Tabs***/


.banner.has-hover.banner-subscribe,
.banner-subscribe .bg.bg-loaded,
.section.section-subscribe .bg-fill {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.box-bounce .box-text {
	padding: 15px 0px 20px;
	z-index: 1;
}

.is-divider {
	display: none;
}

input#button-subscribe {
	background: var(--primary-color);
	border-radius: 8px;
	color: #1F0C01;
}



.slider-nav-circle .flickity-prev-next-button:hover svg {
	background: #47474A;
	border-color: #47474A;
}


.dashboard-links a,
.woocommerce-Button.button,
.woocommerce-address-fields .button.wp-element-button,
input[type="submit"].button,
#place_order {
	justify-content: center;
	align-items: center;
	width: 194px;
	height: 52px;
	border-radius: 8px;
	padding: 15px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
}

.button#place_order,
.dashboard-links a,
.woocommerce-Button.button,
a.checkout-button.button,
input[type="submit"].button,
#place_order,
.nav-pagination>li>.current,
.nav-pagination>li>a:hover,
.nav-pagination>li>span:hover,
.button-continue-shopping.button.primary.is-outline,
a.woocommerce-button.wp-element-button.button.view,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected],
.is-outline:hover,
.primary.is-outline:hover,
.woocommerce-widget-layered-nav-dropdown__submit,
.more-link.button.primary.is-outline.is-smaller,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.button.primary.wc-backward.wp-element-button,
.button.wp-element-button {
	background-color: var(--primary-color) !important;
	border-color: var(--primary-color);
}

.button.wc-forward.wp-element-button,
.button-continue-shopping.button.primary.is-outline,
a.woocommerce-button.wp-element-button.button.view {
	border-radius: 8px;
	padding: 15px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #1F0C01;
	width: 100%;
}


.is-form.expand.button.wp-element-button {
	text-shadow: none;
	height: 55px;
}

.woocommerce-widget-layered-nav-dropdown__submit,
.button.primary.wc-backward.wp-element-button {
	border-radius: 8px;
	font-weight: 500;
	font-size: 16px;
	margin-top: 15px;
	color: #1F0C01;
	padding: 6px 32px;
}

form.searchform .button.wp-element-button,
.more-link.button.primary.is-outline.is-smaller,
.product-lightbox.lightbox-content .button.wp-element-button {
	border-radius: 8px;
	font-weight: 500;
	font-size: 12px;
	max-height: 39px;
	color: #1F0C01;
	padding: 6px 32px;
}

@media only screen and (min-width: 1152px) {
	.form-email-subscribe {
		width: 267px;
		float: left
	}

	.form-submit-subscribe {
		width: 40%;
		float: left
	}

	input#button-subscribe {
		display: inline-block;
		margin: 0px 0px 0px 14px !important;
		padding: 7px 32px;

		width: 142px;
		height: 52px;
	}



	.col-inner h2 {
		font-weight: 700;
		font-size: 40px;
		line-height: 140%;
		text-transform: capitalize;
	}

	.row.row-small {
		max-width: 1110px;
	}

	a.button-see-all {
		position: inherit;
		bottom: -14px;
		right: -11px;
	}


	.text.slider-lead {
		font-weight: 400;
		font-size: 18px;
		line-height: 180%;
		/* or 32px */
	}

	.text-box-content.text p {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 180%;
	}

	.icon-box.featured-box p {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 180%;
		/* or 25px */
		color: rgba(18, 17, 39, 0.7);
	}

	.icon-box.featured-box h6,
	.icon-box.featured-box h5 {
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 140%;
	}

	.banner h1,
	.banner h2,
	.banner h3 {
		font-weight: 700 !important;
		font-size: 40px;
		line-height: 140%;
		margin-bottom: 0.2em;
		margin-top: 0.2em;
		padding: 0;
	}

	span.price ins {
		text-decoration: none;
		float: left;
		margin-right: 12px;
	}



	.absolute-footer {
		padding: 43px 0 43px;
	}

	.section-border {
		border-width: 0px 22px 0px 22px;
		border-color: #fff;
	}

	/* span.amount {
		color: rgba(18, 17, 39, 0.8);
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 140%;
		white-space: nowrap;
	} */


}


@media only screen and (min-width: 849px) and (max-width: 1160px) {
	.row-products .row.hide-for-small {
		margin-left: 0px;
		margin-right: 0px
	}
}

@media only screen and (min-width: 849px) {
	#header .header-main .nav-left {
		justify-content: space-evenly;
	}
}