@media (max-width: 1000px) {


    .banner-about-us {
        padding-top: calc(330px + (400 - 200) * (100vw - 400px) / (1200 - 400)) !important;
    }

    .logo-slider-main .slider-nav-outside .flickity-page-dots {
        bottom: -30px;
    }



    .form-submit-subscribe input#button-subscribe {
        margin: 0px 0px 0px 0px !important;
        padding: 7px 32px;
        width: 100%;
    }

    .form-email-subscribe input:not([type="submit"]) {
        width: 100%;
    }



}