.single-product .page-title:not(.featured-title)+main .product-main {
    padding-top: 0;
}

.single-product #header,
.single-product #main,
.single-product #wrapper {
    background-color: initial;
}

.single-product .product-main .product-title {
    color: #292929;
    font-weight: 800;
    font-family: "Avenir";
    line-height: 1.3;
}

.single-product .product-short-description {
    color: var(--color-black);
    font-family: "Avenir Next";
    font-size: 16px;
    line-height: 1.7;
}

.single-product .product-short-description li {
    margin-left: 26px;
}

.single-product .product-images {
    background-color: var(--color-white);
}


.single-product .product-page-price {
    font-family: "Avenir Next";
    line-height: 1.2;
}

.single-product .price ins span.amount {
    color: var(--color-green-1);
    font-size: 24px;
    font-weight: 700;
}

.single-product .price del span.amount {
    color: #B8B8B8;
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
}

.price del {
    text-decoration: none;
}

.single-product .product-summary .woocommerce-Price-currencySymbol {
    font-size: inherit;
    color: inherit;
    display: inline-block;
    vertical-align: initial;
}

.product-container .price-wrapper .price ins {
    display: block;
}

.single-product form,
.single-product .price.product-page-price {
    margin: 0;
}

.single-product .product-main .quantity:not(:last-child) {
    margin-bottom: 12px;
    margin-right: 0;
}

.single-product .single_add_to_cart_button.button.alt {
    max-width: 356px;
    min-height: 48px;
    padding: 12px 20px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.single-product .single_add_to_cart_button:after {
    content: "";
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" fill="none"><path stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.24561 2.43628h1.30616c.24602 0 .36903 0 .46802.04524.08723.03987.16116.10398.21297.1847.05878.0916.07618.21338.11097.45692l.4733 3.31314m0 0 1.0519 7.73142c.13348.9811.20022 1.4717.43478 1.8409.20667.3254.50298.5841.85325.7451.39751.1826.89259.1826 1.88275.1826h8.55789c.9425 0 1.4138 0 1.799-.1696.3396-.1495.6309-.3906.8413-.6962.2386-.3466.3268-.8096.5032-1.7355l1.3236-6.94903c.0621-.32588.0931-.48882.0481-.61619-.0394-.11173-.1173-.20582-.2196-.26548-.1167-.06802-.2826-.06802-.6144-.06802h-2.2696m-14.19217 0h2.84669M10.2456 21.4363c0 .5523-.44771 1-.99999 1-.55229 0-1-.4477-1-1s.44771-1 1-1c.55228 0 .99999.4477.99999 1Zm8 0c0 .5523-.4477 1-1 1s-1-.4477-1-1 .4477-1 1-1 1 .4477 1 1Z" /><path stroke="%23fff" stroke-miterlimit="10" stroke-width="1.5" d="M13.5201 12.3291c2.99 0 5.42-2.47001 5.42-5.51001 0-3.04-2.43-5.51001-5.42-5.51001-2.99 0-5.42 2.47001-5.42 5.51001 0 3.04 2.43 5.51001 5.42 5.51001Z" /><path stroke="%23fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.5" d="M15.5308 6.81006h-3.94m1.98 2V4.80005" /></svg>') center / contain no-repeat;
}

.woocommerce-product-gallery__image.is-selected {
    text-align: center;
    cursor: grab;
}

.single-product .skip-lazy {
    width: 80%;
    padding: 80px 40px 20px;
}

.single-product .is-nav-selected {
    pointer-events: none;
}

.single-product .is-nav-selected.col a {
    border: 1px solid #88AD09;
}

.single-product .thumbnails .flickity-slider>.col a {
    text-align: center;
    padding: 10px;
    background-color: var(--color-white);
    overflow: hidden;
    transform: translate(0);
    cursor: pointer;
}

.product-thumbnails .attachment-woocommerce_thumbnail {
    max-width: 70%;

    transform: scale(1.001);
    transition: transform 0.3s ease;
}

.product-thumbnails .is-nav-selected a,
.product-thumbnails .is-nav-selected a img {
    border: 0;
}

/*! favorite draft */
/* .woocommerce-product-gallery__image.is-selected::before {
    content: "Sale!";
    position: absolute;
    top: 30px;
    left: 32px;
    width: max-content;
    height: max-content;

    padding: 2px 10px;
    border-radius: 16px;
    background-color: #FFD600;
    color: #333;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.16;
} */

.woocommerce-product-gallery__image.is-selected::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 16px;
    width: 36px;
    height: 36px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="%235C5C5C" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11.9932 5.13581c-1.9994-2.33741-5.33345-2.96617-7.83851-.8258C1.64964 6.45038 1.29697 10.029 3.2642 12.5604c1.63562 2.1047 6.58557 6.5437 8.2079 7.9804.1815.1608.2723.2411.3781.2727.0924.0276.1935.0276.2859 0 .1058-.0316.1966-.1119.3781-.2727 1.6223-1.4367 6.5723-5.8757 8.2079-7.9804 1.9672-2.5314 1.6576-6.13253-.8905-8.25039-2.5481-2.11785-5.8391-1.51161-7.8384.8258Z" clip-rule="evenodd" /></svg>') center / 24px no-repeat;
}

/* footer-product */
.single-product .product-footer .description_tab:first-child {
    margin-left: 6px !important;
    margin-right: 0;
}

.single-product .tab-panels,
.single-product .product-footer .woocommerce-tabs {
    padding: 0;
}

.single-product .tabs li.active a {
    font-weight: 600;
}

.single-product .tabs li a {
    color: var(--color-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.7;
    text-transform: uppercase;
    padding: 16px 18px;
}

.single-product .tabs.nav-line>li>a:before {
    top: -1px;
    height: 2px;
    background-color: #88AD09 !important;
}

.single-product .tabbed-content,
.single-product .product-footer .woocommerce-tabs>.nav-line:not(.nav-vertical) {
    margin-top: 0;
}

.product-container .product-footer .row.item-row {
    margin-left: 0;
    margin-right: 0;
}

.single-product .woocommerce-Tabs-panel h3,
.single-product .woocommerce-Tabs-panel p strong {
    color: var(--color-black);
    font-family: "Avenir Next";
    font-weight: 600;
    line-height: 1.7;
}

.single-product .woocommerce-Tabs-panel {
    color: var(--color-black);
    font-weight: 400;
    line-height: 1.7;
}

.single-product .woocommerce-Tabs-panel p {
    margin-bottom: 0;
}

/* related */
.single-product .product-section-title {
    text-transform: initial;
    font-family: "Avenir Next";
    font-weight: 600;
    line-height: 1.16;
    padding: 0;
    margin: 0;
}

.single-product .related {
    border-top: 1px solid rgba(0, 0, 0, 0.14);
}



.single-product .related .flickity-button.flickity-prev-next-button {
    box-shadow:
        0px 14.2px 13px 0px rgba(0, 0, 0, 0.03),
        0px 5.785px 6.519px 0px rgba(0, 0, 0, 0.02),
        0px 1.315px 3.148px 0px rgba(0, 0, 0, 0.01);
    /* box-shadow: 0px 71px 80px 0px rgba(0, 0, 0, 0.05),
        0px 46.019px 46.852px 0px rgba(0, 0, 0, 0.04),
        0px 27.348px 25.481px 0px rgba(0, 0, 0, 0.03),
        0px 14.2px 13px 0px rgba(0, 0, 0, 0.03),
        0px 5.785px 6.519px 0px rgba(0, 0, 0, 0.02),
        0px 1.315px 3.148px 0px rgba(0, 0, 0, 0.01); */
}

.single-product .related .flickity-slider>.col {
    padding: 0 6px;
}

.single-product .related .badge-container {
    margin: 0;
    top: 23px;
    left: 23px;
}

.single-product .related .woocs_price_code del span.amount {
    color: #CCC;
    font-family: "Kanit";
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
}

.single-product .related .woocs_price_code {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4px;
}

/* MEDIA */
@media (any-hover:hover) {
    .single-product .flickity-slider>.col a:hover img {
        transform: scale(1.1);
    }
}

@media (min-width: 576px) {
    .single-product .flickity-page-dots {
        display: none;
    }
}

@media (min-width: 1000px) {

    .single-product .product-main {
        padding-bottom: 75px;
    }

    .single-product .container {
        width: 100%;
        max-width: 1432px;
    }

    .single-product .product-main,
    .single-product .woocommerce-tabs {
        max-width: 1024px;
        margin-inline: auto;
    }

    .single-product .page-title-inner {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .single-product .product-main .product-title {
        font-size: 24px;
        max-width: 446px;
    }

    .single-product .product-gallery {
        padding: 0 4% 0 0;
    }

    .single-product .product-info {
        padding: 0 0 0 4%;
    }

    .single-product .product-main .product-title:not(:last-child) {
        margin-bottom: 36px;
    }

    /* .single-product .product-main:not(:last-child) {
    margin-bottom: 146px;
  } */

    .single-product .product-info .price-wrapper:not(:last-child),
    .single-product .product-short-description:not(:last-child) {
        margin-bottom: 48px;
    }

    .single-product .product-short-description ul li {
        line-height: 1.7;
    }

    .single-product .product-short-description ul li {
        margin-bottom: 0;
    }

    /* .product-container .single_add_to_cart_button {
    border-radius: 33px !important;
    background-color: var(--Green, var(--primary-color)) !important;
    width: 90%;
    padding: 16px 20px !important;
    box-shadow: 0px 5px 4.7125px 0px rgba(137, 175, 8, 0.09), 0px 25px 29px 0px rgba(137, 175, 8, 0.18);
    color: var(--color-white, #FFF) !important;

    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    text-transform: uppercase !important;
    border: initial;
} */
    /*! footer-product */
    .single-product .product-footer {
        padding-top: 75px;
        padding-bottom: 120px;
    }

    .single-product .product-tabs {
        border-top: 1px solid rgba(0, 0, 0, 0.14);
    }

    .single-product .entry-content h3 strong {
        font-weight: 600;
    }

    .single-product .row.item-row+.row.item-row {
        margin-top: 48px;
    }

    .single-product .woocommerce-Tabs-panel p:not(:last-child),
    .single-product .woocommerce-Tabs-panel h3:not(:last-child) {
        margin-bottom: 24px;
    }

    .product-footer .woocommerce-tabs>.nav-line:not(.nav-vertical):not(:last-child) {
        margin-bottom: 48px;
    }

    .single-product .tab-panels {
        padding-bottom: 120px;
    }

    .single-product .woocommerce-Tabs-panel h3,
    .single-product .woocommerce-Tabs-panel p strong {
        font-size: 24px;
        line-height: 1.7;
    }

    .single-product .woocommerce-Tabs-panel {
        font-size: 18px;
        line-height: 1.7;
    }

    /* ! related */

    .single-product .related {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .single-product .product-section-title:not(:last-child) {
        margin-bottom: 67px;
    }

    .single-product .product-section-title {
        font-size: 32px;
    }
}

@media (max-width: 1000px) {
    .single-product .page-title-inner {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .single-product .product-gallery,
    .single-product .product-info {
        padding-top: 0;
        padding-bottom: 0;
    }

    .single-product .woocommerce-Tabs-panel h3,
    .single-product .woocommerce-Tabs-panel p strong,
    .single-product .product-main .product-title {
        font-size: 20px;
        line-height: 1.3;
    }

    .single-product .woocommerce-Tabs-panel {
        font-size: 16px;
        line-height: 1.3;
    }

    .single-product .content-row {
        flex-direction: column;
        gap: 16px;
    }

    .single-product .product-main {
        padding-bottom: 20px;
    }

    .single-product .product-footer {
        padding-top: 20px;
    }

    .single-product .product-info .price-wrapper:not(:last-child),
    .single-product .product-short-description:not(:last-child),
    .single-product .product-main .product-title:not(:last-child) {
        margin-bottom: 18px;
    }

    /* footer-product */

    .single-product .product-footer {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .product-footer .woocommerce-tabs>.nav-line:not(.nav-vertical):not(:last-child) {
        margin-bottom: 24px;
    }

    .single-product .woocommerce-Tabs-panel p:not(:last-child),
    .single-product .woocommerce-Tabs-panel h3:not(:last-child) {
        margin-bottom: 16px;
    }

    .single-product .row.item-row+.row.item-row {
        margin-top: 24px;
    }

    .single-product .tab-panels {
        padding-bottom: 20px;
    }

    /* related */

    .single-product .related {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .single-product .product-section-title:not(:last-child) {
        margin-bottom: 24px;
    }

    .single-product .product-section-title {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .single-product .tabs li a {
        border-top: 1px solid rgba(0, 0, 0, 0.14);
    }

    .single-product .related button.previous,
    .single-product .related button.next {
        display: none;
    }
}