.recently-viewed-products__title {
  color: var(--color-black);
  line-height: 1.16;
  font-weight: 500;

}

.recently-viewed-products__body {
  overflow: hidden;
  position: relative;
}

.recently-viewed-products__wrap,
.recently-viewed-products__slider {
  overflow: hidden;
}

.recently-viewed-products__slide.swiper-slide {
  width: 100px;
  height: 100px;
}

.recently-viewed-products .col {
  padding: 0;
}

.recently-viewed-products .product-small.box {
  padding: 10px 16px;
  border: 0;
  border-radius: 0;
}

.recently-viewed-products .product-small.box .box-image {
  margin: 0;
  max-width: 100%;
}

.recently-viewed-products .badge-container,
.recently-viewed-products .box-text.box-text-products {
  display: none;
}


@media (min-width:1000px) {
  .recently-viewed-products {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .recently-viewed-products__container {
    display: flex;
    align-items: center;
  }

  .recently-viewed-products__title {
    flex: 0 0 250px;
    padding-right: 4.3%;
    font-size: 24px;
  }

  .recently-viewed-products__body {
    flex: 1 1 82.848837%;
    /* padding-inline: 72px; */
    padding: 16px 72px;
  }

  .recently-viewed-products__navigation {
    width: 95%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -15%);
  }

  /* .recently-viewed-products .navigation-swiper {
    align-items: stretch;
  } */

  .navigation-swiper__pagination {
    display: none;
  }
}

@media (max-width:1000px) {
  .recently-viewed-products {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .recently-viewed-products__container>:not(:last-child) {
    margin-bottom: 20px;
  }

  .recently-viewed-products__title {
    font-size: 20px;
  }

  /* 
  .recently-viewed-products__body {
    padding-inline: 40px;
  } */

  .recently-viewed-products__navigation {
    align-items: center;
    position: static;
    justify-content: center;
    padding: 12px;
    width: max-content;
    margin-inline: auto;
  }

  .navigation-swiper__button {
    display: none;
  }
}